
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

body::after {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00000011, #00000099);
    z-index: -1;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-color: #FF0000;
    border-width: 10px;
    border-radius: 12px;
    padding: 30px;
}

.h-logo, .h-login-2 {
    font-family: 'Poppins', sans-serif;
    color: #5D8736;
    line-height: 1;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.50);
}

.h-logo {
    display: flex;
    font-size: 100px;
    color: #5D8736;
    margin-bottom: 50px;
}

.h-login-2 {
    font-size: 50px;
    color: #F4FFC3;
    margin-bottom: 30px;
}

.lbl-username, .lbl-password, .lbl-remember, .p-actions {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #FFFFFFAA;
    margin: 0px;
}

.lbl-username, .lbl-password {
    font-weight: 600;
    color: #FFFFFF66;
}

#err-username, #err-password {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FA4454;
}

.div-username, .div-password {
    margin-bottom: 20px;
}

.in-field {
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    font-style: normal;
    background-color: #000000BB;
    border: solid;
    border-color: #00000077;
    border-radius: 10px;
    border-width: 2px;
    color: #FFFFFF;
    font-size: 20px;
    width: 400px;
    height: 50px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 1px;
    appearance: none;
}

.in-field:focus {
    outline: none;
    background-color: #000000BB;
}

.div-remember {
    margin-bottom: 20px;
}

.lbl-remember {
    font-size: 16px;
    box-sizing: border-box;
}

.box-remember {
    background-color: #FF0000;
    border: transparent;
    width: 20px;
    height: 20px;
    translate: 10px 3px;
}

.btn-login {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #00703C;
    border: none;
    border-color: #00000055;
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.p-actions {
    display: inline;
    font-size: 15px;
    text-decoration: underline;
    color: #00D471;
    cursor: pointer;
    user-select: none;
}
.p-sign-up-1 {
    user-select:text;
}


#p-forgot {
    margin-right: 20px;
}

.p-sign-up-1 {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFFAA;
    cursor: auto;
}